<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.ads.mediation.tapjoy">

    <application>
        <activity
          android:name="com.tapjoy.TJAdUnitActivity"
          android:configChanges="orientation|keyboardHidden|screenSize"
          android:hardwareAccelerated="true"
          android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <activity
          android:name="com.tapjoy.TJContentActivity"
          android:configChanges="orientation|keyboardHidden|screenSize"
          android:theme="@android:style/Theme.Translucent.NoTitleBar"
          android:hardwareAccelerated="true" />
    </application>
</manifest>