<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.google.ads.mediation.sample.sdk"
    xmlns:android="http://schemas.android.com/apk/res/android">

  <application>
    <activity
        android:name=".activities.SampleSDKAdsActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
        android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
  </application>

</manifest>
