<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.maio.sdk.android.mediation.admob.adapter">

    <application>
        <activity
            android:name="jp.maio.sdk.android.AdFullscreenActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name="jp.maio.sdk.android.HtmlBasedAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
    </application>
</manifest>
